PORT=3001
NVIDIA_API_KEY=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
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1
ML_API_URL=http://localhost:5001
VALENCIA_API_KEY=vl_0332ed9fc9c44d29c292cb1c326faa4d28c27842c18a02d79abca780863a9226.01caf25e4c1a4cef9d4d50e096842285
VALENCIA_API_URL=https://api.valencia-voice.com/v1
NODE_ENV=development
